
<h2>EarthAudit test API for Manobi</h2>

<p>This API is meant to test the link between the EarthAudit Agricultural Yield Pilot and the Manobi Mobile Framework</p>

<ul>
  <li>
    <%= link_to "Initial Connection Test", crops_path -%>
  </li>
  <li>
    <%= link_to "API Code Format Test", codes_path -%>
  </li>
</ul>