<%= @string %>
<% if @warning == true %>
<p>Texts should be formatted as follows:<br/>    http://earthaudit.herokuapp.com/crops?crop=XXX&lat=YYY&lon=ZZZ&stat=WWW<br/> 
Click <a href='http://earthaudit.herokuapp.com/crops?crop=maize&lat=10&lon=3&stat=planting'>here for an example</a></p>
<% end %>