<%= @string %>
<% if @warning == true %>
  Your text should be sent in the folloing format:    http://earthaudit.herokuapp.com/crops/index?crop=XXX&lat=YYY&lon=ZZZ&stat=WWW
such as <a href='http://earthaudit.herokuapp.com/crops/index?crop=maize&lat=10&lon=3&stat=planting'>this</a>
<% end %>